*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}

body{
     min-height: 90vh;
}

.main{
     display: flex;
     flex-direction: column;
     align-items: center;
     /*width: 90vw;*/
     width: 330px;
     margin: 0 auto;
     height: 80vh;
}

.main>img{
     height: 90px;
     width: 90px;
     margin-top: 35px;
     border-radius: 50%;
}

.main h1{
     font-size: 19px;
     font-weight: 600;
     margin: 10px 0px 20px 0px;
}

.main a{
     font-weight: 400;
     font-size: 1.0rem;
     text-decoration: none;
     text-align: center;
     width: 100%;
     padding: 15px;
     margin: 4px;
}

.main a:hover{
     background-color: #fff;
     padding: 12px;
     transition: 0.3s;
}

.inicio{
     color: #fff;
     background-color: #0067FF;
}
          
.main a:hover{
     color: #0067FF;
     border: 3px solid #0067FF;
}

.footer{
     height: 50px;
     position: sticky;
     top: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin: 0 auto;
}

.footer>a>img{
     filter: grayscale();
     height: auto;
     width: 125px;
     padding: 6px;
     text-align: center;
}